.my-custom-scrollbar {
    position: relative;
    height: 800px;
    overflow: auto;
    }
body {
    background-color: rgb(240, 240, 240);
}

h4 {
    font-weight: bold;
}

img.logo{
    width: 60px; 
    height: 25px;
}

img.logo-large {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

img.mylink {
    width: auto;
    height: auto;
    padding-right: 20px;
}

img.wordcloud {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 15px;
}

a {
    color: rgb(112, 0, 241);
    font-size: large;
    /* font-weight: bolder; */
    }

.main-link a {
    color: rgb(112, 0, 241);
    font-size: large;
    font-weight: bolder;
}

.my-custom-scrollbar2 {
        position: relative;
        height: 300px;
        overflow: auto;
        }

.table-wrapper-scroll-y {
    display: block;
    }

.btn-primary {
    background-color: rgb(86, 16, 151) !important;
    border: rgb(255, 255, 255) !important;
    border-width: 2px !important;
    width: 100px !important;
    align-content: center !important;
}

.btn-primary:hover {
    background-color: rgb(196, 120, 231) !important;
}

.btn-primary:active {
    background-color: rgb(112, 0, 241) !important;
}


.bg-primary {
    background-color:#561097 !important;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
  }
.footer p {
    color: rgb(255, 255, 255);
    font-size: small;
    padding-top: 10px;
}

a.bottom-link {
    font-weight: normal;
    color: rgb(112, 0, 241);
}