.my-custom-scrollbar {
    position: relative;
    height: 800px;
    overflow: auto;
    }


a {
    color: rgb(112, 0, 241);
    }

.my-custom-scrollbar2 {
        position: relative;
        height: 300px;
        overflow: auto;
        }

.table-wrapper-scroll-y {
    display: block;
    }

.btn-primary {
    background-color: rgb(86, 16, 151) !important;
    border: rgb(255, 255, 255) !important;
    border-width: 2px !important;
    width: 100px !important;
    align-content: center !important;
}

.btn-primary:hover {
    background-color: rgb(196, 120, 231) !important;
}

.btn-primary:active {
    background-color: rgb(112, 0, 241) !important;
}



