<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href="static/style.css">
    <title>SWS - SentWordScraper</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand logo-image" href="/" style="font-weight: bold;"><img class="logo"
                src="static/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/add-task">WordScraper</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add-sent-task">SentScraper</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mt-3">
                    <div class="card-body">
                        <h4>SentWordScraper</h4>
                        <hr>
                        <img class="logo-large" src="static/images/logo.png">

                        <p style="text-align: center;">
                            Hello visitor, this project was created as one of my personal fun projects.</br>
                        <ul style="padding-top: 20px;">
                            <p>Made Posiible By:</p>
                            <li style="align-items: center;"><strong>Python Flask & gnicorn</strong>: Backend Server</li>
                            <li><strong>Python Beautiful Soup</strong>: Webscraping</li>
                            <li><strong>Chart.js</strong>: Data Visualization</li>
                            <li><strong>Redis</strong>: Task Queue & Cache Database</li>
                            <li><strong>Docker & docker-compose</strong>: Deployment</li>

                        </ul>
                        </p>
                        <hr>
                        <span class="main-link"><a href="/add-task">Scrape Words</a></span>
                        <br>
                        <p>
                            Scrape texts of all p-tags from the supplied URL and then counts words.
                        </p>
                        <span class="main-link"><a href="/add-sent-task">Scrape Sentences</a></span>
                        <p>
                            Scrape texts of all p-tags from the supplied URL,</br>
                            analyzes the sentiment of each sentence and then visualizes the result.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Average Score: Changes color depending on value -->
                <div class="card mt-3">
                    <div class="card-body">
                        <h4>Links</h4>
                        <hr>
                        <div class="row" style="padding-left: 10px;">
                            <div class=".col-6 .col-sm-3">
                                <image class="mylink" style="height: 20px;"
                                    src="{{ url_for('static', filename='/images/GitHub_Logo.png') }}"></image>
                            </div>
                            <div class=".col-6 .col-sm-3" style="padding-left: 10px;">
                                <a class="bottom-link" href="https://github.com/Masamerc/SentWordScraper">GitHub repo
                                    for this project</a>
                            </div>
                        </div>
                        <br>
                        <div class="row" style="padding-left: 10px;">
                            <div class=".col-6 .col-sm-3">
                                <image class="mylink" style="height: 15px;"
                                    src="{{ url_for('static', filename='/images/LI-Logo.png') }}"></image>
                            </div>

                            <div class=".col-6 .col-sm-3">
                                <a class="bottom-link"
                                    href="https://www.linkedin.com/in/masahiro-mark-fukui-78388ab1"> My Linkedin Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer bg-primary" style="position: static;">
        <div class="container">
            <p> <strong>© 2020 Masahiro Mark Fukui | </strong> All features and codes are licensed under MIT License<br>Logo Design by: Yoshimitsu Tomita</p>
        </div>
    </footer>
</body>

</html>